*, *::before, *::after {
  box-sizing: border-box;
}

header {
    background-color: green;
    display: flex;    
    justify-content: space-between;
    margin: 5px;
}
h1, h2 {
    margin: 20px;
}

body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    
}

.button-grid{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.btn {
  font-size: 3rem;
  border-radius: 5px;
  padding: 5px 10x;
  outline: none;
  background-color: whitesmoke;  
}

.btn.correct{
  background-color: green;
}

.btn.wrong{
  background-color: red;
}

.startBtn, .nextQues{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

main {
    display: flex;    
    justify-content: center;
    background-color: blue;
    margin: 5px;
    font-size: 3.5rem;
}

aside {
    display: flex;
    justify-content: center;    
    background-color: indigo;
    color: white;
    margin: 5px;    
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: green;
    margin: 5px;
}



.hide {
  display: none;
} 

