header {
    background-color: green;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
h1 {
    margin: 20px;
}
h2 {
    margin: 20px;
}
body {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

main {
    display: flex;    
    justify-content: center;
    background-color: blue;
    margin: 5px;
}

aside {
    display: flex;
    justify-content: center;    
    background-color: indigo;
    color: white;
    margin: 5px;    
}
li {
    background-color: orangered;
    padding: 5px;
    margin: 5px;
    font-size: larger;
}

a:link{
    color:white;
    text-decoration: none;
  }
  a:visited{
    color:white;
    text-decoration: none;
  }
  a:hover{
    color:black;
    text-decoration: underline;    
  }
  a:focus{
    color:white;
  }
  a:active{
    color:white;
    text-decoration: none;
  }

footer {
    display: flex;
    justify-content: space-between;
    background-color: green;
    margin: 5px;
}

li:hover, a:hover {
    background-color: aqua;
}